* {
	margin: 0;
	padding: 0;
}
html,body {
	height: 100%;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
	margin: 0;
	padding: 0;
}
.music {
	width: 320px;
	height: 470px;
	float: left;
	background: rgba(0,0,0,0.3);
	color: #fff;
	border-radius: 3px;
}
.jindu {
	padding-top: 5px;
	height: 25px;
}
#music-bar {
	display: inline-block;
	width: 800px;
	height: 60px;
	background: #3f4954;
	margin-right: 7px;
	border-radius: 4px;
	margin-left: 5px;
	position: relative;
}
#load-bar {
	display: inline-block;
	height: 60px;
	float: left;
	border-radius: 4px;
	background: #808080;
	position: absolute;
	z-index: 1;
	transition: all 3s; /* 进度加载动画 */
}
#played-bar {
    display: inline-block;
    height: 60px;
    float: left;
    border-radius: 4px;
    background: -webkit-linear-gradient(left, RGB(146,224,255), RGB(33,167,218));
    background: linear-gradient(left, RGB(146,224,255),RGB(33,167,218));
    position: absolute;
    z-index: 2;
    transition: all 0.5s;
}
#played-bar:after {
	content: '';
	width: 8px;
	height: 60px;
	border-radius: 50%;
	background: #fff;
	position: absolute;
	right: -2px;
	top: -2px;
}